body{
	background-color: #EBEBEB;
}
.swiper-slide{
	img{
		width: 100%;
		height: auto;
	}
}
.pagination {
    text-align: right;
    width: 100%;
    height: 1.2rem;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}
.index{
	.arc{
		height: auto;
		overflow: hidden;
		margin: 1rem 0.8rem;
		cursor: pointer;
		img{
			width: 100%;
		}
		p{
			margin: 0;
			height: 2rem;
			line-height: 2rem;
			font-size: 1rem;
			font-weight: 700;
			text-align: center;
			vertical-align: middle;
			text-shadow: 0px 1px 0px rgb(243, 243, 243);
		}
		div:first-child{
			height: 8rem;
			overflow: hidden;
			margin: 0;
		}
	}
}
.list{
	.arc{
		height: 20rem;
		overflow: hidden;
		margin: 1rem 0.8rem;
		padding: 0 0.8rem;
		cursor: pointer;
		.title{
			font-size: 1.2rem;
			margin: 1rem 0 0.5rem;
		}
		.more{
			font-weight: 100;
			line-height: 1.5rem;
			color: #444;
			margin: 0.5rem 0;
		}
		img{
			width: 100%;
		}
		.box{
			height: 12rem;
			overflow: hidden;
		}
	}
}
.footer{
	margin-bottom: 5%;
}
/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	width: 100%;
	height: auto;
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	display: inline-block;
	width: 0.6rem;	
	height: 0.6rem;
	border-radius: 0.6rem;
	background: none repeat scroll 0% 0% rgb(153, 153, 153);
	box-shadow: 0 2px 3px rgb(85, 85, 85) inset;
	margin: 0 0.3rem ;
	vertical-align: middle;
	cursor: pointer;
}
.swiper-active-switch {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}